* {font-family:'Courier New', Courier, monospace;
  background-color: rgb(255, 255, 255);
}

h3 {
    text-align: center;
    color:white;
    font-size: xx-large;
    letter-spacing: 10px;
    background-color: transparent;
}

 img {
    text-align: center;
    background-color: transparent;
    display:block;
}

.title {
    background-color: lightpink;
  padding: 10px;
  border-radius: 50px;
}

.icons {
  width: 100px;
  height:100px;
  background-color: rgb(182, 227, 255);
  padding: 30px;
  border: 1px solid gray;
  border-radius: 100px;
  border-color: lightblue;
  text-align: center;
  letter-spacing: 100px;
  margin:auto;
  margin-top: 2%;
  color:transparent;
  line-height: ;
}